
.effects {
  cursor: url('spinhand2.png'), auto;
  position: relative;
  -webkit-user-drag: element;
  bottom: -8%;
  left: 11%;
  width: 80%;
  height: 45%;
  filter: contrast(1.5) drop-shadow(2px 4px 6px black);
  resize: both;
  overflow: scroll;
  border-radius: 12px;

  img {
    resize: both;
    overflow: auto;
    -webkit-user-drag: element;
    image-rendering: -webkit-optimize-contrast;
    margin: 8px;
    cursor: url('spinhand3.png'), auto;
    animation: flicker 0.5s infinite alternate;
    border: 1px solid #041029;
    border-radius: 18px;
    width: 3%;
    height: 7%;
    box-sizing: border-box;
    filter: contrast(1.5) drop-shadow(2px 4px 6px black);
    box-shadow: 0 0 0.5rem #F44336, inset 0 0 0.5rem #F44336, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }

  img:hover, img:focus, img:active {
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -webkit-transform: scale(1.48);
    -moz-transform: scale(1.48);
    transform: scale(1.48);
    
  }
}


#arcade {
  filter: hue-rotate(48deg);
}

#bassline {
  filter: hue-rotate(175deg);
}



#chirp {
  border-radius: 15px;
  
  padding-right: 5px;
}

#deathstep, #lazzzer, #gangster {
  filter: hue-rotate(145deg);
}

#dodgybass {
  border-radius: 6px;
}

#dolphin {
  padding-top: 3px;
  padding-right: 3px;
}

#electrotab {
  border-radius: 8px;
  filter: hue-rotate(145deg);
}

#guineapig {
  padding-bottom: 5px;
}

#hardcore {
  filter: hue-rotate(148deg);
}

#kick {
  filter: hue-rotate(-148deg);
}

#knife {
  padding-top: 3px;
  padding-left: 3px;
}

#machine {
  filter: grayscale(4) sepia(1);
}

#perc {
  padding-top: 3px;
  padding-left: 2px;
}

#plink {
    padding-right: 4px;
}

#psy, #speaker {
  border-radius: 14px;
  border: 1px solid #fafff0;
  filter: invert(1);
}

#rave {
  filter: hue-rotate(255deg) invert(1);
  border-radius: 14px;
  border: 1px solid #fafff0;
}

#rhombus {
  filter: invert(1);
  border-radius: 8px;
  border: 1px solid #fafff0;
}

#sheenery {
  border-radius: 6px;
  filter: hue-rotate(194deg);
}

#spacewave {
  border-radius: 6px;
}


#timba {
  filter: hue-rotate(68deg);
}

#trancekick {
  border-radius: 4px;
}

#voice {
  border-radius: 8px;
  filter: contrast(1.5);
}

#xkicks {
  border-radius: 12px;
  padding-right: 2px;
}


