@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

body {
  background-color: #000004;
}

:root {
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

.stage {
  position: relative;
  width: 100px;
  height: 100px;
  background-image: url('turntable.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.tracks {
  position: relative;
  top: 3%;
  left: 3%;
  height: 50%;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.track {
  margin-bottom: 8px;
}


.songTitle {
  font-size: 14px; 
  cursor: pointer;
  font-family: 'Exo 2', sans-serif;
  white-space: nowrap;
  padding: 4px;
  margin-right: 13px;
  border-radius: 4px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  text-transform: uppercase;
}

#play, #pause, #stop, #rewind, #forward, #volume {
  vertical-align: -50%;
  cursor: pointer;
  border-radius: 18px;

}

#rewind, #forward, #volume {
  height: 9%;
  width: 8%;
}


.playerControls {
  display: flex;
  align-items: center;
  border: 2px solid #0d7a91;
  background-color: #000510;
  border-radius: 8px;
  box-sizing: border-box;

  img {
    image-rendering: -webkit-optimize-contrast;
    width: 10%;
    margin: 2px auto;
  }
}


@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
