@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body {
  background-color: #000004;
  background-image: linear-gradient(105deg, #010206, #011959, #00040b);
}

:root {
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

.stage {
  position: relative;
  width: 100px;
  height: 100px;
  background-image: url('turntable.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-color: black;
}

.tracks {
  position: relative;
  top: 3%;
  left: 3%;
  height: 50%;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.track {
  margin-bottom: 8px;
}

#upload {
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(45deg, #13f7d0, #29ef98,#0d7991, #0d7991);
  border-radius: 8px;
  width: 99%;
  border: 2px solid #2b2a27;
  color: #110f10;
  cursor: pointer;
}

#audio {
  width: 100%;
  height: 80%;
  margin-top: 2px;
}

.songTitle {
  cursor: default;
  font-size: 14px; 
  font-family: 'Exo 2', sans-serif;
  white-space: nowrap;
  padding: 4px;
  margin-right: 13px;
  border-radius: 4px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  text-transform: uppercase;
}

.songTitle:hover {
     text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
}

#play, #pause, #stop, #rewind, #forward, #volume {
  vertical-align: -50%;
  cursor: pointer;
  border-radius: 18px;

}

#rewind, #forward, #volume {
  height: 9%;
  width: 8%;
}


.playerControls {
  display: flex;
  align-items: center;
  border: 2px solid #0d7a91;
  background-color: #000510;
  border-radius: 8px;
  box-sizing: border-box;

  img {
    image-rendering: -webkit-optimize-contrast;
    width: 10%;
    margin: 2px auto;
  }
}


@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

#help {
  position: absolute;
  right: 2%;
  top: 2%;
  background-color: transparent;
  border: none;
}

#about {
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 2%;
  width: 2%;
}

#git {
  cursor: pointer;
  position: absolute;
  right: 6%;
  top: 10px;
  width: 2.5%;
  filter: brightness(1.5);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  font-family: 'Exo 2', sans-serif;
  position: fixed; 
  z-index: 1; 
  left: 30%;
  top: 5%;
  width: 45%; 
  height: 80%; 
  overflow: auto; 
  background-color:  #21d498;
  border: 13px solid #191719;
  border-radius: 50%; 
  box-shadow: 0px 0px 0px 1px silver inset;
  animation: spin 1.0s ease-in-out 1;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #9b9b9b;
  box-shadow: 0px 0px 0px 1px #1f1f2c inset;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1b4d83;
  background-image: url('aliens.jpg');
  background-position-x: center;
  background-position-y: -12px;
  background-size: cover;
  padding: 8px;
  border: 8px solid #17171f;
  box-shadow: 0px 0px 0px 1px silver inset;
  width: 75%;
  height: 75%;
  border-radius: 50%;
}

#welcome {
  font-size: 3em;
  text-align: center;
  color: #1ec190;
  
}

#notice {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 8%;
  left: -1%;
}

#instructions {
  width: 39%;
  font-size: 14px;
  font-weight: bold;
  color: #e5e6e8;
  text-align: center;
}

#instructions2 {
  text-align: center;
  width: 60%;
  font-size: 0.7em;
  font-weight: bold;
  color: #e5e6e8;
}

.close {
  position: absolute;
  bottom: 20%;
  color: #1ec190;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-transform: uppercase;
  transform: scale(1.3);
  cursor: pointer;
    text-shadow: 2px 0 0 #171717, -2px 0 0 #1ec08e, 0 2px 0 #171517, 0 -2px 0 #171516, 1px 1px #171516, -1px -1px 0 #151515, 1px -1px 0 #171416, -1px 1px 0 #171516;
}