@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
@import url("/src/assets/images/mixing.jpg");

@mixin background-image($file) {
  background-image: url("/src/assets/images/#{$file}");
}
@mixin cursor($file) {
  cursor: url("/src/assets/images/#{$file}"), auto;
}

$lightbulb: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
    0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
    0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
    0 0 10rem var(--neon-text-color);

body {
  background-color: #000000;
  font-family: "Exo 2", sans-serif;
}

:root {
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

h1,
h2,
h3,
h4,
ul {
  margin: unset;
  padding: unset;
}

.stage {
  position: relative;
  width: 100%;
  height: auto;
  @include background-image("headphones.jpg");
  background-size: cover;
  background-position: center;
  background-color: black;
}

.navlinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 300px;
  float: right;
  margin: 24px 18px 0 0;
  img {
    margin: 0 2px;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 0px 1px silver inset;
    }
  }
}

#about {
  display: none;
  width: 38px;
  animation: color-change 15s linear infinite both;
}

#git {
  width: 34px;
  filter: invert(1);
  border-radius: 40px;
  border: 2px solid purple;
}

#linkedin {
  width: 38px;
  border-radius: 12px;
  background-color: black;
}

#angellist {
  width: 32px;
  background-color: white;
  border-radius: 50%;
  filter: invert(1);
  border: 2px solid;
}

#headshot {
  width: 32px;
  border-radius: 50%;
  border: 2px solid #ccdee6;
}

.tracks {
  position: relative;
  margin: 24px 18px;
  width: 20%;
  display: flex;
  flex-direction: column;
  #msg {
    animation: color-change 15s linear infinite both;
    strong {
      animation: color-change 15s linear infinite both;
      font-size: 40px;
      padding: 0 4px 0 4px;
      filter: brightness(2.5);
    }
  }
}
#score {
  color: #7826dd;
  animation: color-change 15s linear infinite;
  font-size: 28px;
  margin: 20px auto;
  width: fit-content;
}

.track {
  margin-bottom: 8px;
}

.track:last-of-type {
  display: none;
  width: 50%;
  height: 4%;
  margin-left: 4%;
  border: 2px solid #f1f3f4;
  border-radius: 4px;
}

#upload {
  font-family: "Orbitron", sans-serif;
  background: linear-gradient(210deg, #1b8b5e, #6bc8a2, #30ad7a, silver);
  width: 100%;
  color: #131010;
  cursor: pointer;
}

#audio {
  width: 100%;
  height: 67%;
  margin-top: 2px;
  outline: 3px solid #f1f3f4;
  box-shadow: 0px 0px 0px 5px #f1f3f4 inset;
}

.songTitle {
  position: relative;
  cursor: default;
  font-size: 14px;
  font-family: "Exo 2", sans-serif;
  white-space: nowrap;
  padding: 4px;
  margin-right: 13px;
  border-radius: 4px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  text-transform: uppercase;
  &:hover {
    text-shadow: $lightbulb;
  }
}

.playSong {
  animation: 15s linear 0s infinite normal none running quick-scroll;
  font-size: 18px;
}

.playerControls {
  width: 60%;
  display: flex;
  align-items: center;
  border: 2px solid #0d7a91;
  background-color: #000510;
  border-radius: 20px;
  box-sizing: border-box;

  img {
    image-rendering: -webkit-optimize-contrast;
    width: 10%;
    margin: 2px auto;
    &:hover {
      transform: scale(1.2);
    filter: brightness(1.5);
    }
  }
}

#play,
#pause,
#stop,
#rewind,
#forward,
#volume,
#tempo {
  vertical-align: -50%;
  cursor: pointer;
  border-radius: 18px;
}

#rewind,
#forward,
#volume,
#tempo {
  height: 9%;
  width: 8%;
}

#help {
  position: absolute;
  right: 2%;
  top: 2%;
  background-color: transparent;
  border: none;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  font-family: "Exo 2", sans-serif;
  position: fixed;
  width: 55%;
  height: 90%;
  left: 0;
  right: 0;
  top: 5%;
  bottom: 5%;
  height: 90%;
  margin: 0 auto;
  overflow: auto;
  background-color: #21d498;
  border: 13px solid #191719;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px silver inset;
  animation: spin 1s ease-in-out 1, color-change 25s linear infinite;
  z-index: 3;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #9b9b9b;
  box-shadow: 0px 0px 0px 1px #1f1f2c inset;
  animation: color-change 15s linear infinite;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 24px;
  border: 8px solid #17171f;
  box-shadow: 0px 0px 0px 1px silver inset;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  animation: none;
  overflow: hidden;
}

#welcome {
  animation: color-change 15s linear infinite both;
  font-size: 2.3em;
  text-align: center;
  color: #1ec190;
  position: relative;
  top: 10px;
}

.instructions-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.instructions {
  white-space: nowrap;
  background: #000000 border-box;
  font-size: 14px;
  position: relative;
  list-style: none;
  font-weight: bolder;
  color: #e5e6e8;
  transform: scale(0.65);
  margin: auto 8px;
  top: -20px;

  strong {
    animation: color-change 15s linear infinite both;
    color: #21d498;
    font-size: 1.1em;
    font-weight: bolder;
    text-transform: uppercase;
  }
  small {
    font-size: 8px;
  }
  p {
    border-radius: 8px;
    padding: 2px;
  }
  h2 {
    text-decoration: underline;
  }
  aside {
    text-decoration: none;
    font-size: 20px;
  }
  figcaption {
    font-size: 8px;
  }
}

#frame,
#match {
  @include cursor("zoom2.png");
  width: 15%;
  border-radius: 10px;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  &:hover {
    transform: scaleX(6) scaleY(2.4) translate(30px, 2.5px);
    transition: 1s;
    margin: 4px;
  }
}

#frame {
  left: -1%;
}

#match {
  right: 1%;
}

.close {
  animation: color-change 15s linear infinite both;
  position: relative;
  bottom: 20%;
  color: #1ec190;
  font-size: 28px;
  font-weight: bold;
  &:hover,
  &:focus {
    text-transform: uppercase;
    transform: scale(1.3) rotateY(180deg) rotateY(180deg);
    cursor: pointer;
    text-shadow: 2px 0 0 #171717, -2px 0 0 #1ec08e, 0 2px 0 #171517,
      0 -2px 0 #171516, 1px 1px #171516, -1px -1px 0 #151515, 1px -1px 0 #171416,
      -1px 1px 0 #171516;
    transition: transform 1s, text-shadow 1.5s, text-transform 2s;
  }
}

.msg {
  width: fit-content;
  margin: 0 auto;
  font-size: 18px;
  white-space: nowrap;
  border: 2px solid currentColor;
  border-radius: 14px;
  padding: 14px;
  background-color: black;
}

#bgtoggle {
  border-radius: 8px;
  background-color: black;
  color: #61c29b;
  font-weight: bold;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
  animation: color-change 15s linear infinite;
  z-index: 1;
  margin-left: 18px;
}

.signature-container {
  float: right;
  margin-right: 18px;
  #signature {
    font-size: 12px;
    color: white;
    strong {
      font-size: 16px;
      color: #61c29b;
      animation: color-change 15s linear infinite;
    }
  }
}

@keyframes scroll-right {
  0% {
    left: 0;
    animation: flicker 0.5s infinite alternate;
  }
  14% {
    left: 17%;
  }
  28% {
    left: 34%;
    animation: flicker 0.5s infinite alternate;
  }
  42% {
    left: 51%;
  }
  66% {
    left: 70%;
    animation: flicker 0.5s infinite alternate;
  }
  80% {
    left: 51%;
  }
  90% {
    left: 34%;
    animation: flicker 0.5s infinite alternate;
  }
  100% {
    left: 17%;
  }
}

@keyframes quick-scroll {
  0% {
    left: 0;
  }
  50% {
    left: 9%;
  }
  100% {
    left: 0;
  }
}

@keyframes color-change {
  0% {
    filter: hue-rotate(0deg) drop-shadow(2px 4px 6px currentColor);
  }
  25% {
    filter: hue-rotate(180deg) saturate(1.5)
      drop-shadow(2px 4px 6px currentColor);
    transform: scale3d(1.1, 1, 1.1);
  }
  50% {
    filter: hue-rotate(360deg) saturate(1.5)
      drop-shadow(2px 4px 6px currentColor);
    transform: scale3d(1, 1.1, 1.1);
  }
  75% {
    filter: hue-rotate(180deg) saturate(1.5)
      drop-shadow(2px 4px 6px currentColor);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    filter: hue-rotate(0deg) drop-shadow(2px 4px 6px currentColor);
  }
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);

    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
