#keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  span {
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px grey;
    position: relative;
    text-align: center;
    &:hover {
      transform: perspective(500px) translateZ(-30px);
    }
    sub {
      font-size: 12px;
    }
  }
}

.keyboard {
  /* width: 58%; */
  width: 100%;
  margin: 4px auto;
  height: 130px;
}

.keyboard-top {
  position: absolute;
  height: 90px;
  margin: 4px auto;
}

.kbc {
  /* width: 1104px; */
  width: 58%;
  margin: 0 auto;
}

.kbc-top {
  position: absolute;
  top: 0%;
  left: 20%;
  width: 56%;
  /* width: 1075; */
  .pianoControls {
    margin: unset;
  }
}

.whole {
  background-color: white;
  color: black;
  height: 100%;
  padding: 17px;
  z-index: 0;
  sub {
    position: relative;
    top: 15px;
    right: 10px;
  }
}

.sharp {
  background-color: black;
  color: white;
  height: 100%;
  z-index: 1;
  margin-left: -18px;
  margin-right: -18px;
  width: 24px;
  padding: 4px;
}

.D,
.E,
.G,
.A,
.B {
  left: 4px;
}

.pianoControls {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 8px 8px 0px 0px;
  label {
    color: silver;
    text-transform: capitalize;
    font-size: 16px;
  }
}

#distRange {
  width: 20%;
  &::-webkit-slider-runnable-track {
    background: linear-gradient(45deg, black, silver, black);
    border: 1.5px solid #817f7f;
  }
}

.reverbButtons {
  width: 70%;
  /* list-style: none; */
  color: silver;
  columns: 5;
  cursor: pointer;
}

#reverbTitle {
  color: silver;
  font-size: 16px;
  margin-bottom: 1px;
}

.reverb {
  font-size: 12px;
  margin-left: 12px;
  &::marker {
    color: #222121;
  }
  &:hover {
    &::marker {
      color: #6fe006;
    }
  }
}

.selected {
  color: white;
  filter: brightness(1.5);
  &::marker {
    color: #6fe006;
  }
}
