.keyboard {
  width: 100%;
  margin: 0 auto;
  height: 130px;
  span {
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px grey;
    position: relative;
    text-align: center;
    &:hover {
      transform: perspective(500px) translateZ(-30px);
    }
    sub {
      font-size: 12px;
    }
  }
}

.kbc {
  margin: 0 auto;
}
.kbc-top {
  position: relative;
  height: 80%;
}

.whole {
  background-color: white;
  color: black;
  height: 100%;
  z-index: 0;
  box-shadow: -9px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset,
    0 0 6px rgba(0, 0, 0, 0.2) !important;
  background: linear-gradient(to bottom, #eee 0%, #fff 100%);
  &:hover {
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset,
      -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
  }
  sub {
    position: relative;
    top: 15px;
    right: 10px;
  }
}

.sharp {
  background: linear-gradient(45deg, #222 0%, #555 100%);
  color: white;
  height: 100%;
  z-index: 1;
  padding: 4px;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5) !important;
}

.pianoControls {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 8px 8px 0px 0px;
  background: linear-gradient(45deg, #222 70%, #303030 100%);
  label {
    color: silver;
    text-transform: capitalize;
    font-size: 16px;
  }
}

#distRange {
  width: 20%;
  &::-webkit-slider-runnable-track {
    background: linear-gradient(45deg, black, silver, black);
    border: 1.5px solid #817f7f;
  }
}

.reverbButtons {
  width: 70%;
  color: silver;
  columns: 5;
  cursor: pointer;
}

#reverbTitle {
  color: silver;
  font-size: 16px;
  margin-bottom: 1px;
  margin-top: 4px;
}

.reverb {
  font-size: 12px;
  margin-left: 12px;
  &::marker {
    color: #000000;
  }
  &:hover {
    &::marker {
      color: #6fe006;
    }
  }
}

.selected {
  color: white;
  filter: brightness(1.5);
  &::marker {
    color: #6fe006;
    filter: brightness(1.5);
  }
}

@media only screen and (min-width: 1300px) {
  #keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .keyboard-top {
    height: 90px;
    .D,
    .E,
    .G,
    .A,
    .B {
      text-indent: 0;
    }
  }

  .kbc {
    /* width: 58%; */
    width: 1104px;
  }

  .kbc-top {
    left: 60px;
    bottom: 275px;
    /* width: 58%; */
    width: 1104px;
    .pianoControls {
      margin: unset;
    }
  }

  .whole {
    padding: 17px;
  }

  .sharp {
    width: 24px;
    margin-left: -18px;
    margin-right: -18px;
  }

  .D,
  .E,
  .G,
  .A,
  .B {
    left: 2px;
    text-indent: 2px;
  }
}

/* GRID */

@media only screen and (max-width: 1300px) {
  #keyboard {
    display: grid;
    grid-template-columns: repeat(24, auto);
    /* grid-template-rows: repeat(8, auto); */
    row-gap: 36px;
    justify-content: space-between;
    align-items: stretch;
    justify-items: stretch;
  }

  .kbc {
    width: 741px;
  }

  .kbc-top {
    bottom: 275px;
    left: 30px;
    width: 700px;
    .whole {
      width: 3.1em;
    }
  }

  .whole {
    padding: 18px 0px;
    justify-self: stretch;
    width: 3.3em;
  }

  .sharp {
    width: 1.4em;
    margin-left: -1em;
    margin-right: -1em;
    justify-self: stretch;
  }

  .note8 {
    display: none;
  }
}
