/*Smaller Width */

@media only screen and (max-width: 980px) {
  .modal {
    height: 80%;
    width: 65%;
  }
  .modal-content {
    width: 70%;
    height: 70%;
    padding: 34px;
  }
  #welcome {
    top: 15px;
  }
  .instructions {
    font-size: 12px;
    transform: scale(0.6);
  }
  .close {
    bottom: 25%;
  }
}

@media only screen and (max-width: 640px) {
  .modal {
    height: 75%;
    width: 85%;
  }
  #welcome {
    top: 25px;
  }
  .instructions {
    font-size: 13px;
    transform: scale(0.5);
    top: -45px;
  }
  .close {
    bottom: 42%;
  }
}

@media only screen and (max-width: 420px) {
  .modal {
    height: 55%;
    width: 95%;
  }
  .modal-content {
    overflow-y: hidden;
  }
  #welcome {
    font-size: 2em;
    /* top: 230px; */
    top: 20px;
  }
  .instructions {
    /* transform: scale(0.48);
    top: -30px; */
    transform: scale(0.3);
    top: -100px;
    border-radius: 50%;
  }
  .close {
    bottom: 80%;
    font-size: 24px;
  }
  .tracks {
    width: 50%;
    bottom: 50px;
  }
  .effects {
    width: 90%;
    img {
      width: 5%;
    }
  }
  .msg {
    white-space: normal;
    font-size: 10px;
    text-align: center;
    left: unset;
    width: 85%;
    margin: 0 auto;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
  }
  #bgtoggle {
    margin: unset;
  }
  .signature-container {
    margin: unset;
    float: unset;
  }
}

/*Larger Width */

@media only screen and (min-width: 1600px) {
  .freestyle-wrap {
    top: -40px !important;
  }
  #welcome {
    font-size: 3rem !important;
  }
  .close {
    font-size: 2.5rem !important;
  }
}


/*Smaller Height */

@media only screen and (max-height: 620px) {
  .modal {
    height: 82%;
  }
  .modal-content {
    width: 70%;
    height: 75%;
  }
  #welcome {
    top: 10px;
  }
  .instructions {
    top: -30px;
    font-size: 12px;
  }
  .close {
    bottom: 33%;
  }
}

/* Larger Height */

@media only screen and (min-height: 800px) and (min-width: 420px) {
  .instructions {
    top: 20px;
    transform: scale(0.72);
  }
  .close {
    bottom: 20px;
  }
  .msg {
    font-size: 20px;
  }
}

@media only screen and (min-height: 944px), (min-width: 1919px) {
  .instructions {
    font-size: 1.4rem !important;
    max-height: unset !important;
  }

  #frame,
  #match {
    &:hover {
      transform: scale3d(6, 3, 30) translate3d(50px, 2px, 30px);
      transition: transform 1s, margin 1s, box-shadow 2s;
      margin: 8px;
      box-shadow: -1px 1px 3px -1px #21d498;
    }
  }

  #volume-slider,
  #tempo-slider {
    width: 70px !important;
  }

  [type="range"] {
    margin: 2px !important;
    &::-webkit-slider-runnable-track {
      height: 12px !important;
    }
    &::-webkit-slider-thumb {
      width: 16px !important;
      margin-top: -4px !important;
    }
  }

  .close {
    bottom: 20px;
  }
  .msg {
    font-size: 32px;
  }

  .effects {
    padding: 40px 0;
    img {
      width: 4%;
    }
  }

  footer {
    padding-bottom: 40px;
  }

  .bg-list {
    img {
      width: 96px;
      &:active {
        width: 108px;
      }
    }
  }
}
