@mixin background-image($file) {
  background-image: url("/src/assets/images/#{$file}");
}
@mixin cursor($file) {
  cursor: url("/src/assets/images/#{$file}"), auto;
}

#about {
  display: none;
  height: 39px;
  width: 42px;
  padding: 0 2px;
  animation: color-change 15s linear infinite both;
  &:hover {
    transform: scale3d(1.2, 1.2, 1.5);
  }
}
.about-show {
  display: block !important;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Exo 2", sans-serif;
  position: fixed;
  /*   width: 55%;
  height: 90%; */
  width: 740px;
  height: 640px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*  top: 5%;
  bottom: 5%; */
  margin: 0 auto;
  overflow: auto;
  background-color: #21d498;
  border: 13px solid #191719;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px silver inset;
  /* animation: spin 1s ease-in-out 1, color-change 25s linear infinite; */
  z-index: 1001;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #9b9b9b;
  box-shadow: 0px 0px 0px 1px #1f1f2c inset;
  /* animation: color-change 15s linear infinite; */
  animation: color-change 15s ease-in-out infinite;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 24px;
  border: 8px solid #17171f;
  box-shadow: 0px 0px 0px 1px silver inset;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  animation: none;
  overflow: scroll;
}

#welcome {
  animation: color-change 15s linear infinite both;
  font-size: 2.5rem;
  text-align: center;
  color: #1ec190;
  position: sticky;
  top: 10px;
  white-space: nowrap;
}

#welcome.modal-freeze {
  z-index: 1000;
  width: 7em;
  background-color: black;
}

.instructions-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.instructions {
  white-space: nowrap;
  border-radius: 40px;
  box-sizing: border-box;
  /* background: #000000 border-box; */
  font-size: 1rem;
  position: relative;
  list-style: none;
  font-weight: bolder;
  color: #e5e6e8;
  transform: scale(0.65);
  margin: auto 8px;
  max-height: 400px;
  top: -30px;

  strong {
    animation: color-change 15s linear infinite both;
    color: #21d498;
    font-size: 1.1em;
    font-weight: bolder;
    text-transform: uppercase;
  }
  #added-strong {
    color: #33b9f0;
  }
  small {
    font-size: 8px;
  }
  p {
    border-radius: 8px;
    padding: 2px;
  }
  h2 {
    text-decoration: underline;
  }
  aside {
    text-decoration: none;
    font-size: 20px;
  }
  figcaption {
    font-size: 8px;
  }
}

#scroll-msg {
  margin: 16px auto;
  color: #aba8a8;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  &:before,
  &:after {
    content: "↓";
    font-size: 0.67rem;
    align-self: flex-end;
    margin: 0 4px;
  }
}

.freestyle-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.4;
  top: -70px;
  max-height: 150px;
}

.freestyle {
  margin-left: 12px;
}

.freestyle-header {
  margin-left: -12px;
  margin-top: 12px;
}

.modal-freeze {
  animation: none !important;
  -webkit-animation: none !important;
  opacity: 1;
}

.modal-hide {
  display: none;
}

#frame,
#match {
  @include cursor("zoom2.png");
  cursor: url("https://stereo-fidelity.s3.amazonaws.com/zoom2.png"), auto;
  width: 15%;
  border-radius: 10px;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  right: 1%;
  &:hover {
    transform: scaleX(6) scaleY(2.4) translate(30px, 2.5px);
    transform: scale3d(6, 3, 30) translate3d(26px, 2px, 30px);
    transition: transform 1s, margin 1s, box-shadow 2s;
    margin: 8px;
    box-shadow: -1px 1px 3px -1px #21d498;
  }
}

#framefig,
#matchfig {
  margin: unset;
}

#frameAppear,
#matchAppear {
  /*  outline-color: #32a09f;
  outline-offset: 8px; */
  outline: none;
  animation: none;
  &::-webkit-media-controls-fullscreen-button,
  &::-webkit-media-controls-timeline,
  &::-webkit-media-controls-volume-control-container,
  &::-webkit-media-controls-current-time-display,
  &::-webkit-media-controls-time-remaining-display {
    display: none;
  }
  &::-webkit-media-controls-panel {
    appearance: none;
    overflow: visible;
    flex-direction: row;
    align-items: center;
  }
  &::-webkit-media-controls-play-button {
    background-image: url("/dist/images/play-button.png");
    background-size: contain;
    /* margin: 35px auto; */
    /* margin: auto 70px; */
    margin: auto 25%;
    background-color: #0000009e;
    border-radius: 50%;
  }
}

#matchAppear {
  &::-webkit-media-controls-play-button {
    filter: hue-rotate(120deg);
  }
}

#frameAppear.frame-view {
  transform: perspective(500px) translate3d(55px, 0px, 390px);
}

#matchAppear.frame-view {
  transform: perspective(500px) translate3d(55px, -20px, 390px);
}

.frame-still {
  width: 150px;
  transition: 2s;
}
.frame-view {
  /* transform: perspective(500px) translate3d(75px, 0px, 390px); */
  outline: none;
  z-index: 2000;
  position: relative;
  box-shadow: 0px 0px 30px 10px #3f3d3dbf;
  transition: transform 1s;
  &::-webkit-media-controls-panel {
    display: none;
  }
}

.frame-zoom {
  transform: perspective(500px) scale(2.5) translate3d(65px, 5px, 430px);
  transition: 0.5s;
}

.close {
  animation: color-change 15s linear infinite both;
  position: sticky;
  bottom: 0;
  color: #1ec190;
  font-size: 28px;
  font-weight: bold;
  &:hover,
  &:focus {
    text-transform: uppercase;
    transform: scale(1.3) rotateY(180deg) rotateY(180deg);
    cursor: pointer;
    text-shadow: 2px 0 0 #171717, -2px 0 0 #1ec08e, 0 2px 0 #171517,
      0 -2px 0 #171516, 1px 1px #171516, -1px -1px 0 #151515, 1px -1px 0 #171416,
      -1px 1px 0 #171516;
    transition: transform 1s, text-shadow 1.5s, text-transform 2s;
  }
}

@media only screen and (min-width: 1600px) {
  .modal {
    width: 980px;
    height: 840px;
    top: 20px;
  }
  .instructions {
    font-size: 1.3rem;
    top: -50px;
    max-height: unset;
  }
  #scroll-msg {
    margin: 12px auto;
    font-size: 1.4rem;
    &:before,
    &:after {
      font-size: 0.75rem;
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1600px) {
  .modal {
    width: 840px;
    height: 740px;
    top: 20px;
  }
  .instructions {
    font-size: 1.15rem;
  }
  #scroll-msg {
    margin: 12px auto;
    font-size: 1.2rem;
    &:before,
    &:after {
      font-size: 0.75rem;
    }
  }
}

@media only screen and (max-width: 780px) {
  .modal {
    width: 640px;
    height: 580px;
    top: 30px;
  }
  .modal-content {
    width: 70%;
    height: 70%;
    padding: 34px;
  }
  .instructions {
    transform: scale(0.6);
    font-size: 0.95rem;
    top: -50px;
  }
  #scroll-msg {
    margin: 6px auto;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 700px) {
  .modal {
    width: 580px;
    height: 520px;
    top: 50px;
  }
  #welcome {
    border-radius: 10px 10px 0 0;
  }
  .instructions {
    font-size: 0.825rem;
    top: -60px;
  }
  .close {
    bottom: -15px;
  }
}

@media only screen and (max-width: 600px) {
  .modal {
    width: 500px;
    height: 440px;
  }
  #welcome {
    font-size: 2.35rem;
  }
  .instructions {
    font-size: 0.7rem;
    aside {
      font-size: 1rem;
    }
  }
  .close {
    font-size: 1.5rem;
    bottom: -20px;
  }
  #scroll-msg {
    margin: 2px auto;
    font-size: 0.7rem;
    &:before,
    &:after {
      font-size: 0.4rem;
    }
  }
}

@media only screen and (max-width: 520px) {
  .modal {
    width: 460px;
    height: 420px;
  }
  #welcome {
    font-size: 2.25rem;
  }
  .instructions {
    font-size: 0.65rem;
  }
}

@media only screen and (max-width: 450px) {
  .modal {
    width: 390px;
    height: 360px;
  }
  .modal-wrapper {
    animation: none;
    -webkit-animation: none;
  }
  .modal-content {
    width: 60%;
    height: 60%;
    justify-content: center;
  }
  #welcome,
  .close {
    animation: none;
    -webkit-animation: none;
  }
  #welcome {
    /* font-size: 2rem; */
    font-size: 1.75rem;
  }
  .close {
    font-size: 1.2rem;
  }
  .instructions {
   /*  transform: scale(0.4);
    top: -90px; */
    transform: scale(0.34);
    font-size: 0.55rem;
    top: unset;
    bottom: unset;
    max-height: 260px;
  }
  .freestyle-wrap {
    padding: 54px 0;
  }
}
